html,
body {
  margin: 0;
  padding: 0;
}

.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-medium {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

header {
  margin: 10px 0;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

main {
  min-height: 300px;
  display: flex;
}

footer {
  min-height: 50px;
  /* margin: 10px 0; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.selectMode {
  min-width: 312px;
  padding: 10px;
}

.colorSelect {
  min-height: 40px;
}

.colorDiv {
  min-width: 20%;
}

.textDiv {
  min-width: 20%;
  text-align: center;
}

.colorSeed {
  background-color: none;
}

.color1 {
  background-color: none;
}

.color2 {
  background-color: none;
}

.color3 {
  background-color: none;
}

.color4 {
  background-color: none;
}
