html,
body {
  margin: 0;
  padding: 0;
}

.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-medium {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.headerDiv {
  margin: 20px 0;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.msgDiv {
  text-align: center;
  padding-top: 5px;
}

main {
  min-height: 300px;
  display: flex;
}

footer {
  min-height: 50px;
  /* margin: 10px 0; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

input {
  height: 44.5px;
}

select {
  font-size: 16px;
  border-color: #d1d5db;
  border-style: solid;
  border-width: 2px;
  border-radius: 4px;
}

button {
  font-size: 12px;
  background-color: #fff;
  border-color: #d1d5db;
  border-style: solid;
  border-width: 2px;
  border-radius: 4px;
  max-height: 44.65px;
}

.selectMode {
  min-width: 312px;
  padding: 10px;
}

.colorSelect {
  min-height: 40px;
}

.colorDiv {
  min-width: 20%;
}

.textDiv {
  min-width: 20%;
  text-align: center;
}

.colorSeed {
  background-color: none;
}

.color1 {
  background-color: none;
}

.color2 {
  background-color: none;
}

.color3 {
  background-color: none;
}

.color4 {
  background-color: none;
}

.hidden {
  display: none;
}
